<%- include("partials/header") %> 
    
    <h1><%= postTitle %></h1>
    <p><%= postBody %></p>
    <% if(postLink!=""){ %>
        <p>Check it out <a href="<%= postLink %>" target="_blank">Here</a>.</p>
    <% } %>

<%- include("partials/footer") %> 